<div>

<link rel="stylesheet" href="{{ site.baseurl }}/public/css/slideshow.css">

<!-- Slideshow container -->
<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-03.jpeg" style="" alt="Bill and Casey at the front of a lecture hall. A slide with only the word &quot;Why?&quot; is projected behind Bill's head.">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-11.jpeg" alt="Bill, holding flowers, stands with the committee, oponent, and his advisors.">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-66.jpeg" alt="Bill's mom holds a plate of sushi; Eleni smiles to the right">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-31.jpeg" alt="Asad with sushi.">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-60.jpeg" alt="DJ hype priestess">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-52.jpeg" alt="Bill's dad makes a toast">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-70.jpeg" alt="Nikolai makes a toast; Vlad and Fahmia laugh behind the DJ table">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-63.jpeg" alt="Staffan and Asad performing &quot;the words they are a changin'&quot;">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-55.jpeg" alt="Staffan and Elen dancing">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-50.jpeg" alt="DJ Kantor">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-57.jpeg" alt="Robin dancing">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-44.jpeg" alt="Bill dancing">
  </div>

  <div class="mySlides fade">
    <img src="/images/2023-08-08-defense-42.jpeg" alt="Adam dancing">
  </div>


  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
  <span class="dot" onclick="currentSlide(12)"></span>
  <span class="dot" onclick="currentSlide(13)"></span>
</div>

<p style="font-size:0.8rem; padding-left:3rem">photos: <a href="https://www.instagram.com/artzhikhartseva">Anastasia Zhikhartseva</a></p>


<script src="/public/js/slideshow.js"></script>

</div>
